.btn-purple {
  color: #000;
  background-color: #8a2be2;
  border-color: ##3c0672;
}

.btn-purple:focus {
    box-shadow: 0 0 0 0.25rem rgba(153, 50, 204, 0.5);
}

.btn-outline-purple{
    color: #E91E63;
    border-color: #8a2be2;
  }
  .btn-outline-purple:hover {
    color: #000;
    background-color: #8a2be2;
    border-color: #3c0672;
  }

  .btn-outline-purple:focus {
      box-shadow: 0 0 0 0.25rem rgba(153, 50, 204, 0.5);
